[Desktop Entry]
Type=Application
Name=Ferriteweazle
Comment=Read, write and convert floppy disks with a Greaseweazle
Exec=ferriteweazle
Icon=io.github.hobbo91.ferriteweazle
Terminal=false
Categories=Utility;
Keywords=floppy;disk;flux;greaseweazle;gw;
StartupWMClass=io.github.hobbo91.ferriteweazle
