[Desktop Entry]
Type=Application
Name=Ferriteweazle
Comment=A desktop app for Greaseweazle, the floppy disk flux reader and writer
Exec=ferriteweazle
Icon=io.github.hobbo91.ferriteweazle
Terminal=false
Categories=Utility;
Keywords=floppy;disk;flux;greaseweazle;gw;
StartupWMClass=io.github.hobbo91.ferriteweazle
